<a ng-href="#/pages"><i class="fa fa-arrow-circle-left"></i> ALL PAGES</a>

<br/><br/><br/>

<div class="imageHolder" ng-cloak>
	<a ng-href="{{pageLoaded.fields.image.fields.file.url}}" target="_blank">
	<img ng-src="{{pageLoaded.fields.image.fields.file.url}}?fit=scale&amp;w=500&amp;fm=png&amp;q=60"></a>
</div>

<div class="textHolder" ng-cloak>
<h3>{{pageLoaded.fields.name}}</h3>
<p>{{pageLoaded.fields.pageState}}</p>
<!-- <br/>
<p><i class="fa fa-map-marker"></i> {{pageLoaded.fields.stakeholder}}</p> -->
	<br/>
	<p><i class="fa fa-code-fork" style="padding-left:2px; margin-right:2px"></i> {{revision()}}</p>
	<p><i class="fa fa-clock-o"></i> {{timeUpdated}} on {{dateUpdated}}</p>
	<p><i class="fa fa-database"></i> Asset: {{pageLoaded.sys.id}}</p>
	<p ng-if="pageLoaded.fields.status == 'Approved'" style="color: green">
		<i class="fa fa-check-circle"></i> Approved</p>
	<p ng-if="pageLoaded.fields.status == 'Conditionally Approved'" style="color: #006992">
		<i class="fa fa-check-circle"></i> Conditionally Approved</p>
	<p ng-if="pageLoaded.fields.status == 'Awaiting Approval'" style="color:#d93f3d">
		<i class="fa fa-flag"></i> Awaiting Approval</p>
	<p ng-if="pageLoaded.fields.status == 'Design in Progress'">
		<i class="fa fa-magic"></i> Design in Progress</p>
	<p ng-if="pageLoaded.fields.status == undefined" style="color:#aaa">
		<i class="fa fa-question-circle"></i> Status unknown</p>

<br/>
<p><i class="fa fa-file-text-o"></i> Description:</p>
<p ng-bind-html="toTrusted(pageLoaded.fields.description)"></p>
<br/>

<p ng-show="hasComments()"><i class="fa fa-comments"></i> Comments: <br/>{{pageLoaded.fields.comments}}</p><br/>


<p><i class="fa fa-file-o"></i> Related Pages:</p>
<div ng-show="relatedFilter" ng-cloak><p ng-repeat="item in entries | filter: relatedFilter:true | orderBy: 'fields.pageState'">
<a ng-href="#design/{{item.sys.id}}">{{item.fields.pageState}}</a>
</p></div>

</div>