<h1>Design Repository</h1>
<br/>
<hr>
<br/>
<div class="designNav">
<a ng-click="filterList('')" class="designLink selected">All</a>
<a ng-click="filterList('Global')" class="designLink">Global</a>
<a ng-click="filterList('Homepage')" class="designLink">Homepage</a>
<a ng-click="filterList('News')" class="designLink">News</a>
<a ng-click="filterList('Event')" class="designLink">Events</a>
<a ng-click="filterList('Ratings')" class="designLink">Ratings</a>
<a ng-click="filterList('Shop')" class="designLink">Shop</a>
<a ng-click="filterList('Education')" class="designLink">Education</a>
<a ng-click="filterList('Generic')" class="designLink">Generic Content</a>
</div>
<br/>
<!-- <br/>
<p id="results"> {{list.length}} Results:</p> -->
<br/>
<div ng-repeat="item in entries | filter: listFilter | orderBy: 'name'">
<div class="listItem">
	<a ng-href="#design/{{indexOf(item)}}">{{item.fields.name}}<br/></a>
	<span class="pageState" ng-click="setAsPageSelected(this.item)">{{item.fields.pageState}}</span>

</div>

</div>