 <script type="text/javascript">
 document.getElementById("searchText").focus();
 </script>
<span id="search"><input placeholder="search" id="searchText" type="text" ng-model="searchText">
<i class="fa fa-search"></i></span>

<h2> Core User Journeys</h2>
<br/>
<br/>
<div ng-repeat="item in journeys | filter: searchText" style="margin-bottom: 25px">
<a style="font-size: 15px" ng-href="#/journey/{{item.sys.id}}"><i class="fa fa-arrow-circle-right"></i> {{item.fields.name}}</a>
<p style="color:#999; padding-left:17px; font-size:12px; width:700px">{{item.fields.description}}</p>
	
</div>