* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  letter-spacing: 0.2px; }

html {
  overflow-y: scroll; }

a {
  color: #2a8da2;
  text-decoration: none;
  font-size: 13px; }
  a:hover {
    color: #48b8d0;
    border-bottom: 2px solid #48b8d0; }

p {
  font-size: 13px;
  line-height: 20px; }

.contentContainer {
  width: 900px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }

nav {
  margin-bottom: 10px;
  display: block;
  text-align: right; }
  nav a {
    margin-left: 20px;
    font-size: 13px;
    text-transform: uppercase;
    color: #2a8da2; }
    nav a:hover {
      color: #48b8d0; }

#strapline {
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.75px; }

h1 {
  text-transform: uppercase;
  letter-spacing: 2.2px; }

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

::selection {
  color: #fff;
  background: #333;
  /* WebKit/Blink Browsers */ }

.designNav {
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase; }
  .designNav a {
    color: #444;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px; }
    .designNav a:hover {
      border-bottom: 2px solid #444; }
    .designNav a.selected {
      font-weight: bold; }
  .designNav i {
    padding-right: 30px; }

#search {
  text-align: right;
  float: right;
  margin-left: 15px;
  font-size: 15px;
  color: #AAA; }
  #search i {
    padding-right: 0px; }
  #search input[type=text] {
    border: none;
    font-size: 15px; }
    #search input[type=text]:focus {
      border: none;
      outline: none; }

#searchText {
  padding: 5px;
  width: 180px;
  text-align: right; }

select {
  height: 25px;
  background-color: #fff;
  margin-right: 10px; }

.imageHolder {
  display: inline-block;
  width: 500px;
  cursor: zoom-in; }
  .imageHolder img {
    width: 500px;
    background-color: #EFEFEF;
    box-shadow: 0px 0px 4px #ccc;
    cursor: zoom-in !important; }
  .imageHolder a:hover {
    border: none;
    cursor: zoom-in !important; }

.textHolder {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  padding-left: 40px; }
  .textHolder p {
    font-size: 13px;
    line-height: 20px; }
  .textHolder i {
    padding-right: 7px; }

table {
  font-size: 13px;
  border-collapse: collapse; }

th, td {
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px; }

th {
  text-align: left;
  font-weight: bold; }

tr:hover {
  background-color: #EFEFEF; }

#tableHeader {
  font-weight: bold; }

.designLink {
  cursor: pointer; }

#results {
  font-size: 11px;
  text-transform: uppercase; }

.listItem {
  font-size: 15px;
  margin-bottom: 15px;
  line-height: 20px; }
  .listItem .pageState {
    font-size: 13px;
    color: #666; }

#tester {
  display: none; }
