//This is the sytlesheet which is written in SCSS

* {
	margin:0;
	padding:0;
	font:{
		family: Arial, sans-serif;
	}
}

a {
	color: #444;
	text-decoration: none;
	&:hover {
		// color: #002772;
		border-bottom: 2px solid #444;
	}
}
.contentContainer {
	width: 900px;
	margin: {
		top: 10px;
		left: auto;
		right: auto;
	}
	padding: {
		left: 20px;
		right: 20px;
	}
}

nav {
	margin: {
		bottom: 20px;
	}
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	& a {
		margin: {
			left: 20px;
		}
	}
	text-align: right;
}

h1 {
	text-transform: uppercase;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.designNav {
	padding:{
		top: 5px;
		bottom: 5px;
	};
	& a {
		color: #444;
		margin: {
			left: 10px;
			right: 10px
		}
		font: {
			size: 13px;
		}
		&:hover {
			border-bottom: 2px solid #444;
		}
		&.selected {
			font-weight: bold;
		}
	}
	text-transform: uppercase;
}

.imageHolder {
	display: inline-block;
	width: 500px;
	cursor: zoom-in;
	& img {
		width: 500px;
		min-height: 300px;
		background-color: #EFEFEF;
		box-shadow: 0px 0px 4px #ccc;
		margin-bottom: 40px;
		cursor: zoom-in !important;
	}
	& a {
		&:hover{
			border: none;
			cursor: zoom-in !important;
		}
	}

}

.textHolder {
	display: inline-block;
	vertical-align: top;
	width: 350px;
	padding:{
		left: 40px;
	}
	& p {
		font:{
			size: 13px;
		}
		line-height: 20px;
	}
	& i {
		padding-right:7px;
	}
}

.designLink {
	cursor: pointer;
}

#results {
	font-size: 11px;
	text-transform: uppercase;
	// text-align: right;
}

.listItem {
	font-size: 15px;
	margin-bottom: 15px;
	line-height: 20px;
	& .pageState {
		font-size: 13px;
		color: #666;
	}
}
